<!DOCTYPE html>
{% extends "base_template.html" %}
{% load i18n %}

<html lang="ru">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>{% trans 'Оформление заказа' %}</title>
    {% endblock %}
</head>
<body>
    {% block content %}
    <h1>{% trans 'Заказ' %}</h1>
    <div>
        <h3>{% trans 'Оформление' %}</h3>
        <ul>
            {% for item in cart %}
            <li>
                {{ item.quantity }}{% trans 'шт' %} {{ item.product.name }}
                <span>{{ item.total_price }} {% trans 'руб' %}</span>
            </li>
            {% endfor %}
        </ul>
        <p>{% trans 'Итого' %}: {{ cart.get_total_price }} {% trans 'руб' %}</p>
    </div>
    <form action="." method="post">
        {{ form.as_p }}
        <p><input type="submit" value="{% trans 'Оформить заказ' %}"></p>
        {% csrf_token %}
    </form>
    {% endblock %}
</body>
</html>