<!DOCTYPE html>
{% extends "base_template.html" %}
{% load i18n %}

<html lang="ru">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>{% trans 'Заказ оформлен' %}</title>
    {% endblock %}
</head>
<body>
    {% block content %}
    <h1>{% trans 'Спасибо за покупку' %}</h1>
    <p>{% trans 'Ваш заказ успешно создан. Номер вашего заказа:' %}
        <strong>{{ order.id }}</strong>.
    </p>
    <p>{% trans 'Перейдите по ссылке, чтобы произвести оплату сейчас' %}:
        <a href="{{ order.get_absolute_url }}">{% trans 'Страница заказа' %}</a>
    </p>
    {% endblock %}
</body>
</html>