<!DOCTYPE html>
{% extends "base_template.html" %}
{% load i18n %}

<html lang="ru">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>{% trans 'Корзина' %}</title>
    {% endblock %}

</head>
<body>
    {% block content %}
    <h1>{% trans 'Корзина' %}</h1>
    <table>
        <thead>
            <tr>
                <th>{% trans 'Изображение' %}</th>
                <th>{% trans 'Товар' %}</th>
                <th>{% trans 'Количество' %}</th>
                <th>{% trans 'Удалить' %}</th>
                <th>{% trans 'Цена за 1 шт' %}</th>
                <th>{% trans 'Цена' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart %}
            {% with product=item.product %}
            <tr>
                <td>
                    <img src="{{ MEDIA_URL }}{{ product.product_photo }}" width="200" height="200">
                </td>
                <td>
                    <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                </td>
                <td>
                    <form action="{% url 'cart:cart_add' product.id %}" method="post">
                    {% csrf_token %}
                    {{ item.update_quantity_form.quantity }}
                    {{ item.update_quantity_form.update }}
                    <input type="submit" value="{% trans 'Изменить' %}">
                    </form>
                </td>
                <td><a href="{% url 'cart:cart_remove' product.id%}">{% trans 'Удалить' %}</a></td>
                <td>{{ item.price }} {% trans 'руб' %}</td>
                <td>{{ item.total_price }} {% trans 'руб' %}</td>
            </tr>
            {% endwith %}
            {% endfor %}
            <tr>
                <td>{% trans 'Итого' %}</td>
                <td colspan="4"></td>
                <td>{{ cart.get_total_price }} {% trans 'руб' %}</td>
            </tr>
        </tbody>
    </table>
    <button><a href="{% url 'orders:order_create' %}">{% trans 'Оформить заказ' %}</a></button>
    {% endblock %}
</body>
</html>