<!DOCTYPE html>
{% extends "base_template.html" %}
{% load i18n %}

<html lang="ru">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>{% trans 'Статусы' %}</title>
    {% endblock %}

</head>
<body>
    {% block content %}
    <h1>{% trans 'Статусная система для пользователей маркетплейса' %}</h1>
    <h2>{% trans 'Чем больше покупаете, тем выгоднее становятся ваши покупки!' %}</h2>
    <p>{% trans 'Помимо акций, которые предлагают магазины на свои товары, наша платформа предоставляет пользователям возможность получить выгоду от покупок. Каждый пользователь автоматически подключается к системе лояльности. В ней предусмотрено четыре статуса.' %}</p>
    <h3>{% trans 'Базовый статус' %}</h3>
    <p>{% trans 'При регистрации пользователь имеет данный статус. Необходимо приобрести товары на сумму 10000р, чтобы получить следующий статус.' %}</p>
    <h3>{% trans 'Серебряный статус' %}</h3>
    <p>{% trans 'Накопление средств для перехода на следующий статус становится быстрее, так как к сумме покупки прибавляется 5% от стоимости заказа. Например, если пользователь приобрёл фен за 3350р, то в системе лояльности будет засчитана сумма 3517,5р. Также пользователю становятся доступны выгодные персональные предложения, которые можно увидеть в личном кабинете.' %}</p>
    <h3>{% trans 'Золотой статус' %}</h3>
    <p>{% trans 'Пользователь получает данный статус, когда сумма его покупок достигла 100000р. Теперь на все покупки, с учетом акций, добавляется скидка 3%. Тот же самый фен, на который сегодня скидка 15% от магазина, пользователь приобретёт со скидкой 18%, т.е. за 2747р. Система лояльности засчитывает сумму покупки без учета скидки в 3%.' %}</p>
    <h3>{% trans 'Платиновый статус' %}</h3>
    <p>{% trans 'Пользователь получает данный статус, когда сумма его покупок достигла 500000р. Это самый высокий статус. Пользователю доступна скидка 5% на все товары, а также открывается доступ к эксклюзивным акциям.' %}</p>

    {% endblock %}

</body>
</html>