<!DOCTYPE html>
{% extends "base_template.html" %}
{% load i18n %}
{% load cache %}

<html lang="ru">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>{% trans 'Личный кабинет' %}</title>
    {% endblock %}
</head>
<body>
    {% block content %}
    <h1>{% trans 'Личный кабинет' %}</h1>

    <h2>{% trans 'Личная информация' %}</h2>
    <p>{% trans 'Имя' %}: {{ request.user.first_name }}</p>
    <p>{% trans 'Фамилия' %}: {{ request.user.last_name }}</p>
    <p>{% trans 'Дата рождения' %}: {{ profile.date_of_birth }}</p>
    <p>{% trans 'Эл. почта' %}: {{ request.user.email }}</p>
    <p>{% trans 'Город' %}: {{ profile.city }}</p>
    <p>{% trans 'Баланс' %}: {{ profile.balance }}.
        <a href="{% url 'top_up_balance' %}">{% trans 'Пополнить баланс' %}</a>
    </p>
    <p>{% trans 'Статус' %}: {{ profile.get_status_name_display }}</p>
    <p>{{ about_status }}</p>
    <a href="{% url 'about_statuses' %}">{% trans 'Подробнее о статусной программе' %}</a>


    {% block history_list %}
        <h2>{% trans 'Ваши заказы' %}</h2>
        {% if not orders_count %}
            {% if unpaid_orders %}
                <h3>{% trans 'Ожидается оплата' %}:</h3>
                {% for order in unpaid_orders %}
                    <p>{% trans 'Номер заказа' %}: {{ order.id }}</p>
                    {% for item in order.items.all %}
                        <p>{% trans 'Товар' %}
                            <a href="{{ item.product.get_absolute_url }}">{{ item.product }}</a>,
                            {{ item.quantity }} {% trans 'шт за' %} {{ item.price }} {% trans 'руб' %}.</p>
                    {% endfor %}
                    <p><a href="{{ order.get_absolute_url }}">{% trans 'Перейти на страницу заказа' %}</a></p>
                {% endfor %}
            {% endif %}

            {% if last_order %}
                <h3>{% trans 'Ваш последний оплаченный заказ' %}</h3>
                    {% for item in last_order %}
                        <p>{% trans 'Товар' %}
                            <a href="{{ item.product.get_absolute_url }}">{{ item.product }}</a>,
                            {{ item.quantity }} {% trans 'шт за' %} {{ item.price }} {% trans 'руб' %}.</p>
                    {% endfor %}
            {% endif %}

            <span><a href="{% url 'orders:orders_history' %}">{% trans 'Смотреть историю заказов' %}</a></span>

        {% else %}
            <p>{% trans 'У вас пока нет заказов' %}</p>
        {% endif %}

    {% endblock %}


    <h3>{% trans 'Спешите воспользоваться акциями' %}</h3>

    {% for promo, product in product_items.items %}
    <ul>
        <li>
            <p>{% trans 'Акция на товар' %}:
                <a href="{{ product.get_absolute_url }}"> {{ product }}</a>
            </p>
            {% if promo.picture %}
            <img src="{{ MEDIA_URL }}{{ promo.picture }}" width="100" height="100" style="display: block"/>
            {% endif %}
            <p>{{ promo.description }}</p>
        </li>
    </ul>
    {% endfor %}

    {% for promo, shop in shop_items.items %}
    <ul>
        <li>
            <p>{% trans 'Акция от магазина' %}
                <a href="{{ shop.get_absolute_url }}"> {{ shop }}</a>
            </p>
            {% if promo.picture %}
            <img src="{{ MEDIA_URL }}{{ promo.picture }}" width="100" height="100" style="display: block"/>
            {% endif %}
            <p>{{ promo.description }}</p>
        </li>
    </ul>
    {% endfor %}

    {% cache 3600 special %}
        {% block special_list %}

        {% if profile.status_name != 'b' %}
            <h3>{% trans 'Специальные предложения для Вас' %}</h3>

            {% for offer in offers %}
            <ul>
                <li>
                    <h4>{{ offer.description }}</h4>
                    {% if offer.picture %}
                    <img src="{{ MEDIA_URL }}{{ offer.picture }}" width="100" height="100" style="display: block"/>
                    {% endif %}
                </li>
            </ul>
            {% endfor %}

            {% if profile.status_name == 'p' %}
                {% if exclusive_promo %}
                    <h3>{% trans 'Эксклюзивные акции' %}</h3>

                    {% for ex_promo in exclusive_promo %}
                    <ul>
                        <li>
                            {% if ex_promo.picture %}
                            <img src="{{ MEDIA_URL }}{{ ex_promo.picture }}" width="100" height="100" style="display: block"/>
                            {% endif %}

                            <p>{{ ex_promo.description }}</p>

                            {% if ex_promo.shop %}
                            <p><a href="shop/{{ ex_promo.shop.id }}">{% trans 'Перейти' %}</a></p>
                            {% elif ex_promo.product %}
                            <p><a href="product/{{ ex_promo.product.id }}">{% trans 'Перейти' %}</a></p>
                            {% endif %}
                        </li>
                    </ul>}
                    {% endfor %}

                {% endif %}
            {% endif %}

        {% endif %}
        {% endblock %}
    {% endcache %}

    {% endblock %}

</body>
</html>