<!DOCTYPE html>
{% extends "base_template.html" %}
{% load i18n %}
<html lang="ru">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>{% trans 'Пополнить баланс' %}</title>
    {% endblock %}
</head>
<body>
    {% block content %}
    <h2>{% trans 'Пополнить баланс' %}</h2>
    <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">{% trans 'Пополнить' %}</button>
    </form>
    {% endblock %}
</body>
</html>