<!DOCTYPE html>
{% extends "base_template.html" %}
{% load i18n %}
<html lang="ru">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>{% trans 'Логин' %}</title>
    {% endblock %}
</head>
<body>
    {% block content %}
    <h2>{% trans 'Вход в систему' %}</h2>
    <form method="post" action="">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">{% trans 'Войти' %}</button>
    </form>
    {% endblock %}
</body>
</html>