<!DOCTYPE html>
{% extends "base_template.html" %}
{% load i18n %}
<html lang="ru">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>{% trans 'Выйти' %}</title>
    {% endblock %}
</head>
<body>
    {% block content %}
    <h3>{% trans 'Вы успешно вышли из своего профиля' %}</h3>
    <br>
    <a href="/">{% trans 'Вернуться на главную страницу' %}</a>
    {% endblock %}
</body>
</html>