<!DOCTYPE html>
{% load i18n %}

<html lang="ru">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>Basic</title>
    {% endblock %}
</head>
<body style="background: #F5F5DC">
    {% block header %}
    <header>
        <a href="/">{% trans 'Главная' %}</a>
        <a href="/products">{% trans 'Товары' %}</a>


        {% if request.user.is_authenticated %}
            <a href="{% url 'account' %}">{% trans 'Личный кабинет' %}</a>
            <a href="{% url 'logout' %}">{% trans 'Выйти' %}</a>
        {% else %}
            <a href="{% url 'login' %}">{% trans 'Войти' %}</a>
            <a href="{% url 'register' %}">{% trans 'Регистрация' %}</a>
        {% endif %}

        {% block purchase %}
        <div>
        {% if request.user.is_authenticated %}
            <p>{% trans 'Ваш баланс' %}: {{ request.user.profile.balance }} р </p>
        {% endif %}
        </div>
        <div>
            {% with total_items=cart|length %}
            {% if cart|length > 0 %}
                {% trans 'Корзина' %}:
                <a href="{% url 'cart:cart_detail' %}">
                    {{ total_items }} {% trans 'товара на' %} {{ cart.get_total_price }} {% trans 'руб' %}.
                </a>
            {% else %}
                {% trans 'Ваша корзина пуста' %}
            {% endif %}
            {% endwith %}
        </div>
        {% endblock %}


        <form action="{% url 'set_language' %}" method="post" style="display: inline-block; float: right">
            {% csrf_token %}
            <input name="next" type="hidden" value="{{ redirect_to }}">
            <select name="language">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}

                {% for language in languages %}
                    <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                        {{ language.name_local }} ({{ language.code }})
                    </option>
                {% endfor %}
            </select>
            <input type="submit" value="{% trans 'Выбрать' %}">
        </form>
    </header>
    {% endblock %}


    {% block content %}
    {% endblock %}
</body>
</html>