<!DOCTYPE html>
{% extends "base_template.html" %}
{% load i18n %}

<html lang="ru">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>{% trans 'Главная' %}</title>
    {% endblock %}
</head>
<body>
    {% block content %}
    <h1>{% trans 'Широкий выбор магазинов - большие возможности для покупателя!' %}</h1>

    {% for shop in shops %}
        <ul>
            <li>
                <h3>{% trans 'Магазин' %} {{ shop.name }}</h3>
                <img src="{{ MEDIA_URL }}{{ shop.logo }}" width="100" height="100" style="display: block"/>
                <a href="shop/{{ shop.slug }}">{% trans 'Посмотреть ассортимент' %}</a>
            </li>
        </ul>
    {% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if shops.has_previous %}
                <a href="?page=1">&laquo; {% trans 'первая' %}</a>
                <a href="?page={{ shop_list.previous_page_number }}">{% trans 'предыдущая' %}</a>
            {% endif %}

            <span class="current">
                {% trans 'страница' %} {{ shops.number }} {% trans 'из' %} {{ shops.paginator.num_pages }}
            </span>

            {% if shops.has_next %}
                <a href="?page={{ shops.next_page_number }}">{% trans 'следующая' %}</a>
                <a href="?page={{ shops.paginator.num_pages }}">{% trans 'последняя' %} &raquo;</a>
            {% endif %}
        </span>
    </div>

    {% endblock %}

</body>
</html>