<!DOCTYPE html>
{% extends "base_template.html" %}
{% load i18n %}

<html lang="ru">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>{{ product.name }}</title>
    {% endblock %}
</head>
<body>

    {% block content %}
    <h1>{{ product.name }}</h1>

    {% if product.product_photo %}
        <img src="{{ MEDIA_URL }}{{ product.product_photo }}" width="20%" height="20%" style="display: block"/>
    {% endif %}
    <h3>{% trans 'Цена' %}: {{ product.price }} {% trans 'руб' %}.</h3>
    <p>{% trans 'Артикул' %} {{ product.article }}</p>

    <h3>{% trans 'Описание' %}</h3>
    <p>{{ product.description }}</p>

    <h3>{% trans 'Магазин' %}</h3>
    <p><a href="{{ product.shop.get_absolute_url }}"> {{ product.shop }}</a></p>

    {% if promotions %}
        <h3>{% trans 'Акции' %}!</h3>
        {% for p in promotions %}
            <h4>{{ p }}</h4>
            <p>{{ p.description }}</p>
            {% if p.discount_size %}
                <p>{% trans 'Скидка' %} {{ p.discount_size }}% !</p>
            {% endif %}
        {% endfor %}
    {% endif %}
    <form action="{% url 'cart:cart_add' product.id %}" method="post">
        {{ cart_product_form }}
        {% csrf_token %}
        <button type="submit">{% trans 'В корзину' %}</button>
    </form>

    {% endblock %}

</body>
</html>