<!DOCTYPE html>
{% extends "base_template.html" %}
{% load i18n %}

<html lang="ru">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>{% trans 'Товары' %}</title>
    {% endblock %}
</head>
<body>
    {% block content %}
    <p><a href="{% url 'shop:report_bsp' %}">{% trans 'Узнать о самых продаваемых товарах' %}</a></p>
    <h1>{% trans 'Здесь вы найдёте товары на любой вкус' %}</h1>

    {% for product in product_list %}
        <ul>
            <li>
                <h3>{{ product }}</h3>
                <p>{% trans 'Этот товар можно приборести в магазинах' %}:</p>

                {% for prod, shops in product_dict.items %}
                    {% if prod == product.name %}
                        {% for shop in shops %}
                            <a href="{{ shop.get_absolute_url }}" >{{ shop.name }}</a>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </li>
        </ul>
    {% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if product_list.has_previous %}
                <a href="?page=1">&laquo; {% trans 'первая' %}</a>
                <a href="?page={{ product_list.previous_page_number }}">{% trans 'предыдущая' %}</a>
            {% endif %}

            <span class="current">
                {% trans 'страница' %} {{ product_list.number }} из {{ product_list.paginator.num_pages }}.
            </span>

            {% if product_list.has_next %}
                <a href="?page={{ product_list.next_page_number }}">{% trans 'следующая' %}</a>
                <a href="?page={{ product_list.paginator.num_pages }}">{% trans 'последняя' %} &raquo;</a>
            {% endif %}
        </span>
    </div>

    {% endblock %}

</body>
</html>