<!DOCTYPE html>
{% extends "base_template.html" %}
{% load i18n %}
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>{% trans 'Отчёт' %}</title>
    {% endblock %}

</head>
<body>
    {% block content %}
    <h2>{% trans 'Получить список самых продаваемых товаров в период' %}:</h2>
    <form method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">{% trans 'Получить данные' %}</button>
    </form>
    {% if products %}
        <h3>{% trans 'Самые продаваемые товары с' %} {{ date_from }} {% trans 'по' %} {{ date_to }}</h3>
        <table>
            <tr>
                <th>id {% trans 'товара' %}</th>
                <th>{% trans 'Название' %}</th>
                <th>{% trans 'Количество' %}</th>
            </tr>
            {% for product, quantity in products.items %}
            <tr>
                <td>{{ product.id}}</td>
                <td>{{ product.name }}</td>
                <td>{{ quantity }}</td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}
    {% if no_data %}
        <p>{% trans 'Нет данных по текущему запросу' %}</p>
    {% endif %}

    {% endblock %}

</body>
</html>