<!DOCTYPE html>
{% extends "base_template.html" %}
{% load i18n %}

<html lang="ru">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>{{ shop.name }}</title>
    {% endblock %}

</head>
<body>
    {% block content %}
        <h1>{% trans 'Магазин' %} {{ shop.name }}</h1>
        <h2>{% trans 'Товары' %}</h2>
        <ul>
        {% for product in product_list %}
            <li>
                {% if product.product_photo %}
                <img src="{{ MEDIA_URL }}{{ product.product_photo }}" width="100" height="100" style="display: block"/>
                {% endif %}
                <p><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></p>
                <p>{{ product.price}}</p>
            </li>
        {% endfor %}
        </ul>
    {% endblock %}

</body>
</html>