<!DOCTYPE html>
{% extends "base_template.html" %}
{% load i18n %}

<html lang="ru">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>{% trans 'Заказы' %}</title>
    {% endblock %}
</head>
<body>
    {% block content %}
    {% for order in orders_list %}
        <h2>{% trans 'Заказ' %} № {{ order.id }}</h2>
        <h3>{% trans 'Статус' %}:
            {% if order.paid is True %}
                {% trans 'оплачен' %}
            {% else %}
                {% trans 'требуется оплата' %}
            {% endif %}
        </h3>
        {% for item in order.items.all %}
            <p>{% trans 'Товар' %}
                <a href="{{ item.product.get_absolute_url }}">{{ item.product }}</a>,
                {{ item.quantity }} {% trans 'шт по цене' %}  {{ item.price }} {% trans 'руб' %}.</p>
        {% endfor %}
        <p>{% trans 'Итоговая сумма ' %} {{ order.get_total_price }}</p>
        <p><a href="{{ order.get_absolute_url }}">{% trans 'К детальной странице заказа' %}</a></p>
    {% endfor %}
    {% endblock %}
</body>
</html>