<!DOCTYPE html>
{% extends "base_template.html" %}
{% load i18n %}

<html lang="ru">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>{% trans 'Заказ' %} №{{ order.id }}</title>
    {% endblock %}
</head>
<body>
    {% block content %}
    <h2>{% trans 'Заказ' %} №{{ order.id }}</h2>
    <h3>{% trans 'Статус' %}:
        {% if order.paid is True %}
            {% trans 'оплачен' %}
        {% else %}
            {% trans 'требуется оплата' %}
        {% endif %}
    </h3>
    <h3>{% trans 'Товары' %}</h3>
    <table>
        <thead>
            <tr>
                <th>{% trans 'Изображение' %}</th>
                <th>{% trans 'Товар' %}</th>
                <th>{% trans 'Количество' %}</th>
                <th>{% trans 'Цена за 1 шт' %}</th>
                <th>{% trans 'Цена' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for item in order.items.all %}
            {% with product=item.product %}
            <tr>
                <td>
                    <img src="{{ MEDIA_URL }}{{ product.product_photo }}" width="200" height="200">
                </td>
                <td>
                    <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                </td>
                <td> {{ item.quantity }}</td>
                <td>{{ item.price }} {% trans 'руб' %}</td>
                <td>{{ item.get_price }} {% trans 'руб' %}</td>
            </tr>
            {% endwith %}
            {% endfor %}
            <tr>
                <td>{% trans 'Итого' %}</td>
                <td colspan="4"></td>
                <td>{{ order.get_total_price }} {% trans 'руб' %}</td>
            </tr>
        </tbody>
    </table>

    <form method="post" action="">
        {% csrf_token %}
        <button type="submit" name="paid">{% trans 'Оплатить' %}</button>
    </form>
    <form method="post" action="">
        {% csrf_token %}
        <button type="submit" name="delete">{% trans 'Удалить заказ' %}</button>
    </form>

    {% endblock %}
</body>
</html>